Correlation value is in b/w of 1 and -1
+ve Correlation one thing/entity increase another thing/entity automatically increase is called +ve
-ve Correlation one thing/entity increase another thing/entity automatically decrease is called -ve

in deep learning you can not show formula

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn')
%matplotlib inline
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv(r'C:\Users\Admin\python\car_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   User ID       1000 non-null   int64
 1   Gender        1000 non-null   object
 2   Age           1000 non-null   int64
 3   AnnualSalary  1000 non-null   int64
 4   Purchased     1000 non-null   int64
dtypes: int64(4), object(1)
memory usage: 39.2+ KB

In [3]:
df.head(3)

   User ID Gender  Age  AnnualSalary  Purchased
0      385   Male   35         20000          0
1      681   Male   40         43500          0
2      353   Male   49         74000          0

In [4]:
df.drop('User ID', axis=1,inplace=True)

In [5]:
def get_labed_encoder(col_ids_list):
    global new_df
    for col_id_list in col_ids_list:
        df[col_id_list] = df[col_id_list].apply(LabelEncoder().fit_transform)
get_labed_encoder([['Gender']])
df.head(3)

   Gender  Age  AnnualSalary  Purchased
0       1   35         20000          0
1       1   40         43500          0
2       1   49         74000          0

In [6]:
def get_normalize():
    df.iloc[:,0:3] = (df-df.min())/ (df.max() - df.min())
    return df.head()
get_normalize()

   Gender       Age  AnnualSalary  Purchased
0     1.0  0.377778      0.036364          0
1     1.0  0.488889      0.207273          0
2     1.0  0.688889      0.429091          0
3     1.0  0.488889      0.672727          1
4     1.0  0.155556      0.465455          0

In [7]:
X = df.loc[:, 'Gender':'AnnualSalary']
print(X.shape)
X.head()

(1000, 3)

   Gender       Age  AnnualSalary
0     1.0  0.377778      0.036364
1     1.0  0.488889      0.207273
2     1.0  0.688889      0.429091
3     1.0  0.488889      0.672727
4     1.0  0.155556      0.465455

In [8]:
y = df[['Purchased']]
y.head()

   Purchased
0          0
1          0
2          0
3          1
4          0

In [9]:
from sklearn.model_selection import train_test_split
def get_train_test_split(array1, array2, test_size, random_state):
    global X_train, X_test, y_train, y_test
    X_train, X_test, y_train, y_test = train_test_split(array1, array2, test_size=test_size,random_state=random_state)
get_train_test_split(X,y,0.3,0)

In [10]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam, SGD

In [11]:
model = Sequential()
model.add(Dense(16, activation='relu', input_shape=(3,)))
model.add(Dense(16, activation='relu', input_shape=(3,))) # model.add( input_shape=(4,) -- > columns in X))
model.add(Dense(1, activation='sigmoid')) # model.add(Dense(1 --> columns in Y, activation='sigmoid'))

In [12]:
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

In [13]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                64

 dense_1 (Dense)             (None, 16)                272

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 353
Trainable params: 353
Non-trainable params: 0
_________________________________________________________________

In [14]:
#Training
#model.fit(X, y, epochs=30)
model.fit(X_train, y_train, epochs=30, batch_size=1)

Epoch 1/30
700/700 [==============================] - 2s 2ms/step - loss: 0.6507 - accuracy: 0.6829
Epoch 2/30
700/700 [==============================] - 1s 2ms/step - loss: 0.5264 - accuracy: 0.8086
Epoch 3/30
700/700 [==============================] - 1s 2ms/step - loss: 0.4416 - accuracy: 0.8429
Epoch 4/30
700/700 [==============================] - 2s 2ms/step - loss: 0.3949 - accuracy: 0.8414
Epoch 5/30
700/700 [==============================] - 2s 2ms/step - loss: 0.3702 - accuracy: 0.8443
Epoch 6/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3546 - accuracy: 0.8543
Epoch 7/30
700/700 [==============================] - 2s 2ms/step - loss: 0.3405 - accuracy: 0.8629
Epoch 8/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3394 - accuracy: 0.8600
Epoch 9/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3305 - accuracy: 0.8571
Epoch 10/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3297 - accuracy: 0.8571
Epoch 11/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3276 - accuracy: 0.8657
Epoch 12/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3243 - accuracy: 0.8557
Epoch 13/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3226 - accuracy: 0.8686
Epoch 14/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3181 - accuracy: 0.8657
Epoch 15/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3184 - accuracy: 0.8571
Epoch 16/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3154 - accuracy: 0.8643
Epoch 17/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3136 - accuracy: 0.8700
Epoch 18/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3111 - accuracy: 0.8629
Epoch 19/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3113 - accuracy: 0.8729
Epoch 20/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3084 - accuracy: 0.8743
Epoch 21/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3090 - accuracy: 0.8714
Epoch 22/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3042 - accuracy: 0.8714
Epoch 23/30
700/700 [==============================] - 2s 2ms/step - loss: 0.3028 - accuracy: 0.8743
Epoch 24/30
700/700 [==============================] - 2s 2ms/step - loss: 0.3048 - accuracy: 0.8757
Epoch 25/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3003 - accuracy: 0.8843
Epoch 26/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3050 - accuracy: 0.8771
Epoch 27/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3017 - accuracy: 0.8729
Epoch 28/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3005 - accuracy: 0.8829
Epoch 29/30
700/700 [==============================] - 1s 2ms/step - loss: 0.2992 - accuracy: 0.8857
Epoch 30/30
700/700 [==============================] - 1s 2ms/step - loss: 0.3045 - accuracy: 0.8771

In [15]:
test_loss, test_acc = model.evaluate(X_test, y_test)
print('Test accuracy:', test_acc*100)
print('Test loss:', test_loss*100)

10/10 [==============================] - 0s 3ms/step - loss: 0.3122 - accuracy: 0.8600
Test accuracy: 86.00000143051147
Test loss: 31.22166395187378