In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\Admin\python\iris.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
X = df.loc[:, 'sepal_length':'petal_width']
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [5]:
Y = df[['species']]
Y.head()

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

# Vectorization to Y
- one-hot-encoding

In [6]:
Y = df['species']
Y = pd.get_dummies(Y)
Y.head()

   setosa  versicolor  virginica
0       1           0          0
1       1           0          0
2       1           0          0
3       1           0          0
4       1           0          0

In [7]:
Y.drop_duplicates()

     setosa  versicolor  virginica
0         1           0          0
50        0           1          0
100       0           0          1

In [8]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam, SGD

In [40]:
model = Sequential()
model.add(Dense(40, activation='relu', input_shape=(4,)))
model.add(Dense(24, activation='relu', input_shape=(4,)))
model.add(Dense(3, activation='softmax'))

In [41]:
model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 40)                200

 dense_19 (Dense)            (None, 24)                984

 dense_20 (Dense)            (None, 3)                 75

=================================================================
Total params: 1,259
Trainable params: 1,259
Non-trainable params: 0
_________________________________________________________________

In [42]:
model.compile(optimizer=SGD(lr=0.002),
             loss='categorical_crossentropy',
             metrics=['acc'])

C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\keras\optimizers\optimizer_v2\gradient_descent.py:111: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super().__init__(name, **kwargs)

In [43]:
#Training
model.fit(X, Y, epochs=30)

Epoch 1/30
5/5 [==============================] - 1s 5ms/step - loss: 1.3363 - acc: 0.3333
Epoch 2/30
5/5 [==============================] - 0s 3ms/step - loss: 1.1975 - acc: 0.3333
Epoch 3/30
5/5 [==============================] - 0s 4ms/step - loss: 1.1070 - acc: 0.3333
Epoch 4/30
5/5 [==============================] - 0s 4ms/step - loss: 1.0480 - acc: 0.3333
Epoch 5/30
5/5 [==============================] - 0s 5ms/step - loss: 1.0095 - acc: 0.3333
Epoch 6/30
5/5 [==============================] - 0s 4ms/step - loss: 0.9803 - acc: 0.3333
Epoch 7/30
5/5 [==============================] - 0s 4ms/step - loss: 0.9565 - acc: 0.3333
Epoch 8/30
5/5 [==============================] - 0s 4ms/step - loss: 0.9387 - acc: 0.3667
Epoch 9/30
5/5 [==============================] - 0s 3ms/step - loss: 0.9247 - acc: 0.5400
Epoch 10/30
5/5 [==============================] - 0s 4ms/step - loss: 0.9134 - acc: 0.6533
Epoch 11/30
5/5 [==============================] - 0s 4ms/step - loss: 0.9030 - acc: 0.6667
Epoch 12/30
5/5 [==============================] - 0s 4ms/step - loss: 0.8946 - acc: 0.6667
Epoch 13/30
5/5 [==============================] - 0s 3ms/step - loss: 0.8871 - acc: 0.6667
Epoch 14/30
5/5 [==============================] - 0s 3ms/step - loss: 0.8795 - acc: 0.6733
Epoch 15/30
5/5 [==============================] - 0s 4ms/step - loss: 0.8719 - acc: 0.7000
Epoch 16/30
5/5 [==============================] - 0s 3ms/step - loss: 0.8659 - acc: 0.6667
Epoch 17/30
5/5 [==============================] - 0s 3ms/step - loss: 0.8569 - acc: 0.6733
Epoch 18/30
5/5 [==============================] - 0s 3ms/step - loss: 0.8509 - acc: 0.7400
Epoch 19/30
5/5 [==============================] - 0s 4ms/step - loss: 0.8435 - acc: 0.6933
Epoch 20/30
5/5 [==============================] - 0s 3ms/step - loss: 0.8375 - acc: 0.6867
Epoch 21/30
5/5 [==============================] - 0s 3ms/step - loss: 0.8316 - acc: 0.7267
Epoch 22/30
5/5 [==============================] - 0s 3ms/step - loss: 0.8249 - acc: 0.7533
Epoch 23/30
5/5 [==============================] - 0s 3ms/step - loss: 0.8181 - acc: 0.7200
Epoch 24/30
5/5 [==============================] - 0s 3ms/step - loss: 0.8121 - acc: 0.6800
Epoch 25/30
5/5 [==============================] - 0s 3ms/step - loss: 0.8065 - acc: 0.8200
Epoch 26/30
5/5 [==============================] - 0s 3ms/step - loss: 0.8000 - acc: 0.8333
Epoch 27/30
5/5 [==============================] - 0s 3ms/step - loss: 0.7944 - acc: 0.7333
Epoch 28/30
5/5 [==============================] - 0s 3ms/step - loss: 0.7884 - acc: 0.7733
Epoch 29/30
5/5 [==============================] - 0s 4ms/step - loss: 0.7833 - acc: 0.7533
Epoch 30/30
5/5 [==============================] - 0s 3ms/step - loss: 0.7772 - acc: 0.8333

In [44]:
test_loss, test_acc = model.evaluate(X, Y)
print('Test accuracy:', test_acc*100)
print('Test loss:', test_loss*100)

5/5 [==============================] - 0s 6ms/step - loss: 0.7735 - acc: 0.8533
Test accuracy: 85.33333539962769
Test loss: 77.34898924827576

In [45]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [46]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [47]:
df1 = pd.DataFrame(np.random.randn(7, 4), columns=['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])
df1

   sepal_length  sepal_width  petal_length  petal_width
0      0.672843     1.003904     -0.941185     2.511151
1      0.843489    -2.004100     -1.016351     0.051662
2     -2.538936     0.462085     -0.381213    -0.500493
3     -0.617080     0.824035     -0.078257    -0.000992
4      1.163403    -1.830735      0.095225    -0.423633
5      0.634466     1.619971      0.357808    -0.742003
6     -0.544652    -0.355890     -0.793122     0.607924

In [48]:
Y.columns.take(np.argmax(model.predict([[6.1,3.8,1.4,9.2]]), axis=1))

1/1 [==============================] - 0s 125ms/step

Index(['virginica'], dtype='object')

In [49]:
df1['predict']=Y.columns.take(np.argmax(model.predict(df1.loc[:, 'sepal_length':'petal_width']), axis=1))
df1

1/1 [==============================] - 0s 112ms/step

   sepal_length  sepal_width  petal_length  petal_width     predict
0      0.672843     1.003904     -0.941185     2.511151  versicolor
1      0.843489    -2.004100     -1.016351     0.051662      setosa
2     -2.538936     0.462085     -0.381213    -0.500493  versicolor
3     -0.617080     0.824035     -0.078257    -0.000992  versicolor
4      1.163403    -1.830735      0.095225    -0.423633      setosa
5      0.634466     1.619971      0.357808    -0.742003  versicolor
6     -0.544652    -0.355890     -0.793122     0.607924  versicolor